.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:grey;
    /* position: absolute; */
    /* top: 0px;
    left: 0px; */
    width: 100%;
    color: black;
    height: 15%;
    padding: 10px;
    padding-top: 16px;
    
  }

  .nav-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: blue ;
  }
.nav-title:hover{
  background-color: aliceblue;
}
  .gauge-chart{
    width: 25%;
  }
  .guage-form{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }